<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Cat Picture</title>
    <meta name="description" content="Sample Flask Application Page">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row border border-dark">
            <div class="col-6">
                <h2>Check out this random cat.. {{ name }}</h2>
            </div>
            <div class="col-6">
                <img src="{{ url_for('static', filename='cats.jpeg') }}" alt="Cat in Mask">
            </div>
        </div>
    </div>

    <div>
        <h3>
            SITE: <a href="">
                SITE: https://cvillecatcare.com/veterinary-topics/101-amazing-cat-facts-fun-trivia-about-your-feline-friend
            </a>
        </h3>
        <ol>
            <li>
                A cat’s average lifespan increased by a year over the span of time between 2002 and 2012, according to a study by Banfield Pet Hospital.
            </li>
            <li>
                According to The Huffington Post, cats typically sleep for 12 to 16 hours a day.
            </li>
            <li>
                Cats are crepuscular, which means that they’re most active at dawn and dusk.
            </li>
            <li>
                Cats are fastidious creatures about their “bathroom.” If you have more than one cat, you should have one litter box for each.
            </li>
            <li>
                Cats can spend up to a third of their waking hours grooming.
            </li>
            <li>
                A cat’s learning style is about the same as a 2- to 3-year-old child.
            </li>
            <li>
                A cat’s purr vibrates at a frequency of 25 to 150 hertz, which is the same frequency at which muscles and bones repair themselves.
            </li>
        </ol>
    </div>
</body>
</html>